body {
    font-family: 'Gowun Batang', serif;
}

#linksToWork {
    font-family: 'Noto Sans', sans-serif;
}

#accordionExample {
    max-width: 800px;
}
.jumbotron {
    background-color: darkred;
}

.img-accord {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}

.accord-img-content{
    background-color: darkblue;
    border-radius: 10% 0 0 10%;
}

.accord-content {
    background:darkblue;
    color: cornsilk;
    font-family: 'Noto Sans', sans-serif;
}

.accordion-button {
    background: #464545;
    color: cornsilk;
}